.contenido{
    background-color: rgb(51, 45, 45);
    font-family:'Times New Roman', Times, serif ;
    color: rgb(199, 202, 204);
    margin: 250px;
    margin-top: 60px;
    margin-bottom: 0px;
    padding: 20px;
}
.final{
    background-color: rgb(163, 241, 176);
    margin:250px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding:5px; 
    color:blue;
    font-size: 10px;
}
li{
    color:blue;
}
span{
    color: green;
}
strong{
    font-size: 13px;
}
mark{
    background-color: black;
    color: white;
}
.tablam{
    background-color: darkmagenta;
    margin: 500px;
    margin-top: 0px;
    size: 40px;
}
