body{
    padding-left:11em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color:rgb(188, 155, 3);
    background-color:rgb(86, 3, 146); 
}
ul.navbar {
    list-style-type:none; 
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em;
}

h1{
    font-family: Helvetica,Geneva, arial, sunSans-regular,sans-serif;
}
ul.navbar li{
    background-color: rgb(5, 171, 222);
    margin: 0.5;
    padding: 0.3;
    border-right: 1em solid rgb(109, 128, 3);
}

ul.navbar a{
    text-decoration: none;
}

a:link {
    color:rgb(156, 0, 0);
}
a.visited{
    color:rgb(14, 174, 33);
}
address{
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted;
}