body{
    padding: 0%;
    background-color: lightgreen;
    font-family: 'Times New Roman', Times, serif;
   
}
.encabezadot{
 background-color: lightblue; 
 margin: 30px;
 height: 350px;
 border: inset blue;

 }
.foto1{
    width: 13%;
    text-align: center;
    margin: 20px;
    position:relative; top:20px ;left: 40px;

}
.foto2{
    width: 19%;
    text-align: center;
    padding: 4px;
    border: inset greenyellow;
    background-color: yellowgreen;
    position: absolute;top: 15%; left: 75%;
    
}
.encabezado{

    width: 13%;
    text-align: center;
    margin: 20px 20px 20px 20px;
    position: relative;left: 40px;
    
}
.titulo{
        
    width: 40%;
    text-align: center;
    padding: 5px;
    position: absolute; top: 23% ;left: 30%;
    
 
}
<!--Parte de arriba-->

.contenido{
    margin: 20px 20px 20px 20px;
    border: inset green;
    text-align: center;
    margin-left: 5px;
    
    

}
.titulo1{
    background-color: yellowgreen;
    width: 13%;
    padding: 3px;
    margin: 45px 25px 15px 25px;
    height: 160px;
    float: left;
    margin-top: 70px;
    border: inset green;
}
.tabla1{
    background-color:yellowgreen;
    width: 76%;
    padding: 1%;
    float: right;
    margin: 25px 25px 15px 20px;
    border: inset green;
}
.titulo2{
    background-color: yellowgreen;
    width: 13%;
    padding: 3px;
    margin: 45px 25px 15px 25px;
    margin-top:  75px;
    height: 160px;
    float: left;
    border: inset green;

}
.tabla2{
    background-color: yellowgreen;
    width: 76%;
    padding: 1%;
    float: right;
    margin: 25px 30px 15px 20px;
    border: inset green;
}

.titulo3{
    
    width: 90%;
    padding: 4px;
    margin: 40px 45px 20px 20px;
    margin-top:  75px;
    margin-left: 70px;
    float: left;
    background-color: yellowgreen;
    border: inset green;
}
.tabla3{
    background-color: yellowgreen;  
    padding: 1%;
    float: right;
    margin: 20px 45px 0px 20px;
    width: 90%;
    border: inset green;
}

