*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* quitar subrayado */
}
body{
    font-family: sans-serif;
    text-align: center;
}
#website{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 150px 70px 1fr 70px;

    grid-template-areas: "cabecera cabecera cabecera cabecera cabecera"
                        "lateral menu menu menu ."
                        "lateral contenido contenido contenido contenido "
                        "lateral pie pie pie pie ";

    width: 75%;
    height: 700px;
    margin: 0px auto;
    border: 1px solid #ccc;
    gap: 25px;
    /* column-gap: 25px;
    row-gap: 25px; */
}
#cabecera{
    grid-area: cabecera;
    
    
    background: blue;
    color: white;
    display: flex;
    justify-content: center;
    /* horizontal  */
    align-items: center;
    /* vertical */

}
#menu{
    grid-area: menu;
    background: lightblue;
    line-height: 90px;
}
#menu ul{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    list-style: none;
    /* Quitar viñetas */
}
#menu ul a:hover{
    background: #aaa9a9;
    font-size: 20px;
    color: white;
}
#contenido{
    grid-area: contenido;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    /* Espacio entre cajas "gap"*/
    /* column-gap: 5px ; Espacio entre columnas */
    /* row-gap: 5px;Espacio entre filas */
    padding: 20px;
    background: #eee;
}
#contenido article{
    background: #ccc;
    border: 1px solid #555;
}
#lateral{
    display: flex;
    grid-area: lateral;
    background: orange;
    color: white;
    justify-content: center;
    align-items: center;
    
}
#pie-pagina{
    grid-area: pie;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}