*{
  
  margin: 0px;
  padding: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}
#general{
    background: rgb(255, 255, 255);
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
#titulo_p{
    display: flex;
    background:white;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    height: 300px;
    width: 70%;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow:4px  0px 0px silver,
    0px  4px 0px silver,
    -1px  0px 0px black,
    0px -1px 0px black;
}
#logo1{

    margin-right: 0px ;
    margin-left: 5%;
    margin-top: 10px;
}
#titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: gray;
}
#titulo h3{
    display: flex;
    font-size: 200%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: -20%;


}
#titulo h1{
    display: flex;
    margin: 5%;
    font-size: 300%;
    justify-content: center;
    align-items: center;
    width: 150%;
    margin-left: -25%;
    

}
#logo2{
    margin-top: 2%;
}
#menu{
    display: flex;
    flex-direction: row;
    border: 2px solid silver;
    width: 70%;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 15px;
    background: silver;
    box-shadow: 5px  0px 0px black,
    0px  5px 0px black,
    -1px  0px 0px black,
    0px -2px 0px gray;
}
#menu ul {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 60%;
    list-style: none;
    align-items: center;
    margin: 0 auto;
}
#menu ul li{
    display: flex;
    margin:0 ;
    width: 90%;
    align-items: center;
    justify-content: center;
    
}   
#menu ul li a{
    color: blueviolet;
    
}
#menu ul li a:hover{
    background: gold;
}
#contenido{
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-areas: "n1 c"
                        "n2 c"
                        ;
    width: 70%;
    margin: 0 auto;
    margin-top: 2%;
}
#noticia1{
    width: 95%;
    height: 120%;
    grid-area: n1;
    display: grid;
    grid-template-columns: 22% 78%;
    
    grid-template-areas: "t1 t1"
                        "f1 c1"
                        "c12 c12";
    border: 2px solid black;
    border-radius: 15px ;
    background: lightgray;

}
#noticia1 h2{
    grid-area: t1;
    display: flex;
    margin-top: 2%;
    margin-left: 2%;
    font-size: 120%;
}
#foto1{
    grid-area: f1;
    border: 2px solid black;
    width: 80%;
    height: 70%;
    margin: 0 auto;
    margin-top: 15%;
    
}
#parrafo1{
    grid-area: c1;
    display: flex;
    margin-top: 2%;
    font-size: 99%;
    text-align: justify;
    margin-right: 3%;
    
}
#fin1{
    grid: c12;
    width: 500%;
    margin-top: -6%;
    margin-left: 10%;
}
#fin1 u {
    color: blueviolet;
    margin-left: 5%;
}
#noticia2{
    border: 1px solid black;
    grid-area: n2;
    margin-top: 20%;
}
#cita{
    grid-area: c;
    border: 1px solid black;
}
#noticia2{
    width: 95%;
    height: 80%;
    grid-area: n2;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-areas: "t2 f2"
                        "c2 f2";
    border: 2px solid black;
    border-radius: 15px ;
    background: lightgray;
    margin-top: 10%;
}
#parrafo2 h2{
    grid-area: t2;
    font-size: 120%;
    margin-bottom: 2%;
}
#parrafo2{
    grid-area: c2;
    margin: 3%;
    font-size: 95%;
}
#parrafo2 u {
    color: blueviolet;
    margin-left: 5%;
}
#foto2{
    grid-area: f2;
    height: 50%;
    width: 90%;
    display: grid;
    border: 1px solid black;
    margin-top: 35%; 
}
#cita{
    background: lightgray;
    border-radius: 15px;
    border: 2px solid black;
}
#cita h2{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
